h1 {
  text-align: center;
  vertical-align: middle;
  font-family: verdana;
  color: darkblue;
  font-size: 20px;
}

h3 {
  text-align: center;
  vertical-align: middle;
  font-family: verdana;
  color: rgb(2, 2, 85);
  font-size: 15px;
}

p {
  text-align: center;
  vertical-align: middle;
  font-family: verdana;
  color: darkblue;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: verdana;
}
.container {
  padding: 10px;
  margin: 10px;
  display: flex;
  width: 500px;
  height: 90%;
  background-color: rgb(211, 211, 211);
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: 10px;
  margin: 10px;
}

.btn {
  --hue: var(--hue-neutral);
  border: black;
  background-color: gray;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.question-container {
  --hue-neutral: gray;
  --hue-wrong: blue;
  --hue-correct: green;
}
.btn:hover {
  border-color: darkblue;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

